<div class="my-dialog container-fluid">
  <div class="card">
    <div class="card-header">
      <p>Create Model</p>
    </div>
    <div class="card-body">
      <form class="my-dialog-form" [formGroup]="modelGroup">

        <div class="container d-flex flex-column">
          <mat-form-field appearance="outline" formGroupName="brand">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="name" placeholder="Choose brand...">
              <mat-option (onSelectionChange)="onBrandSelect($event, brand)"
                          *ngFor="let brand of brands | async" [value]="brand.name"> {{ brand.name }} </mat-option>
            </mat-select>
            <mat-error *ngIf="modelGroup.controls['brand']?.get('name')?.hasError('required')">Brand must be specified.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Model name</mat-label>
            <input matInput formControlName="name" type="text">
            <mat-error *ngIf="modelGroup.controls['name']?.hasError('required')">Name must be specified.</mat-error>
            <mat-error *ngIf="modelGroup.controls['name']?.hasError('modelNameExists')">Model name exists.</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" formGroupName="applianceType">
            <mat-label>Type</mat-label>
            <mat-select formControlName="name" placeholder="Choose type...">
              <mat-option (onSelectionChange)="onTypeSelect($event, type)"
                          *ngFor="let type of types | async" [value]="type.name"> {{ type.name }} </mat-option>
            </mat-select>
            <mat-error *ngIf="modelGroup.controls['applianceType']?.get('name')?.hasError('required')">Type must be specified.</mat-error>

          </mat-form-field>

          <button [disabled]="modelGroup.invalid" class="my-custom-button btn btn-dark text-light me-0" type="submit">
            Submit
          </button>
          <button type="reset" class="clear-button my-custom-button btn btn-light me-0 mt-2">Reset</button>
          <button type="reset" class="my-custom-button btn btn-outline-secondary me-0 mt-2" mat-dialog-close>Close
          </button>
        </div>


      </form>
    </div>
  </div>
</div>


