<div class="not-found container-fluid d-flex flex-column h-100 px-0">
  <div class="arrow-div d-flex m-4">
    <button (click)="goHome()" class="navbar-toggler">
      <i class="back-arrow fas fa-arrow-left"></i>
    </button>
    <button (click)="goBack()" class="navbar-toggler ms-auto">
      <i class="back-arrow fas fa-home"></i>
    </button>
  </div>
  <div class="text-div d-flex justify-content-center align-items-center">
    <h1>Page not found :-(</h1>
  </div>
  <section class="footer d-flex mt-auto w-100">
    <div class="d-flex align-items-end w-100">
      <footer class="bg-dark text-light w-100">
        <p class="py-5 px-3 text-center mb-0">2021 &copy; Copyright <img class="footer-logo" src="/assets/helmet.png" alt="helmet"/>
          Appliance Keeper</p>
      </footer>
    </div>
  </section>
</div>

