<div class="d-flex" id="wrapper">

  <div [class.sb-sidenav-toggled]="toggled" class=" bg-white" id="sidebar-wrapper">
    <con-drawer></con-drawer>
  </div>

  <div class="content d-flex flex-column h-100 w-100">

    <nav class="my-navbar d-flex text-light bg-dark ">
      <div class="d-flex align-items-stretch align-items-center w-100">
        <button class="hamburger navbar-toggler" (click)="toggleSidebar()">
          <i class="fas fa-bars"></i>
          <!--          <i class="icofont-navigation-menu"></i>-->
        </button>
        <h1 class="align-self-center ms-3">{{ observable | async }}</h1>
        <button (click)="logout()" id="logout-button" class="d-flex align-items-center ms-auto" mat-button>
          Logout
          <!--          <i class="fas fa-sign-out-alt"></i>-->
          <i class="icofont-logout"></i>
        </button>
      </div>
    </nav>

    <!--    <content-component (navbar-title)="navbarTitle.innerText = $event" class="content-table"></content-component>-->
    <div class="main-body w-100 h-100">
<!--      <router-outlet></router-outlet>-->
      <router-outlet class="h-100 w-100" (activate)="changeNavbarTitle($event)"></router-outlet>
    </div>

  </div>
</div>






