<div class="my-dialog text-center">
  <div class="card">
    <div class="card-header">
      <p>Sign in to your account</p>
    </div>

    <div class="card-body">
      <p *ngIf="isLoginFailed" class="fail-login-text alert alert-danger">Wrong username or password.</p>
      <form class="my-dialog-form" (ngSubmit)="onSubmit()" [formGroup]="loginGroup">
        <div class="my-dialog-form-body d-flex flex-column">
          <mat-form-field appearance="fill">
            <mat-label>Username</mat-label>
            <input formControlName="username" matInput placeholder="Username...">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput placeholder="Password...">
          </mat-form-field>

          <button [disabled]="loginGroup.invalid" class="my-custom-button btn btn-dark text-light me-0"
                  type="submit">Sign in
          </button>
          <button (click)="resetForm()" type="reset" class="clear-button my-custom-button btn btn-light me-0 mt-2">
            Reset
          </button>
        </div>
      </form>

    </div>
  </div>
</div>

