<div class="add-appliance container-fluid h-100 p-4 text-center">
  <div class="card">
    <div class="card-header d-flex justify-content-center align-items-center">
      <p>Create Appliance</p>
    </div>
    <div class="card-body">

      <form (ngSubmit)="createAppliance()" [formGroup]="applianceGroup" class="add-appliance-form d-flex flex-column">

        <div class="d-flex flex-column container">

          <div class="row g-3">
            <div class="col-6">
              <mat-form-field appearance="outline" class="my-form-field">
                <mat-label>Serial number</mat-label>
                <input formControlName="serialNumber" type="text" placeholder="Serial number" aria-label="serial-number"
                       matInput [matAutocomplete]="serial_number">
                <mat-autocomplete #serial_number="matAutocomplete">
                  <mat-option *ngFor="let appliance of appliances | async" [value]="appliance.serialNumber">
                    {{ appliance.serialNumber }} </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="applianceGroup.controls['serialNumber'].hasError('required')">
                  You must provide a serial number.</mat-error>
                <mat-error *ngIf="applianceGroup.controls['serialNumber'].hasError('applianceExists')">
                  Appliance already exists</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6" formGroupName="model">
              <mat-form-field appearance="outline" class="my-form-field">
                <mat-label>Model</mat-label>
                <input (focusout)="verifyIfModelEqualsSelectedModel()" formControlName="name" type="text" placeholder="Model" aria-label="model"
                       matInput [matAutocomplete]="modelAutoComplete">
                <mat-autocomplete #modelAutoComplete="matAutocomplete">
                  <mat-option (onSelectionChange)="onModelSelect($event, model)" *ngFor="let model of models | async" [value]="model.name">
                    {{ model?.name }} </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="applianceGroup.controls['model'].get('name')?.hasError('required')">
                  Model must be specified.</mat-error>
              </mat-form-field>
            </div>
          </div>

          <div class="row g-3">
            <div class="col-6" formGroupName="brand" >
              <mat-form-field appearance="outline">
                <mat-label>Brand</mat-label>
                <input formControlName="name" matInput placeholder="Brand" [matAutocomplete]="brandAutoComplete">
                <mat-autocomplete #brandAutoComplete="matAutocomplete">
                  <mat-option (onSelectionChange)="onBrandSelect($event, brand)" *ngFor="let brand of brands | async" [value]="brand.name">
                    {{ brand?.name }} </mat-option>
                </mat-autocomplete>
                <mat-error *ngIf="applianceGroup.controls['brand'].get('name')?.hasError('required')">
                  Brand must be specified.</mat-error>
              </mat-form-field>
            </div>
            <div class="col-6" formGroupName="model">
              <mat-form-field appearance="outline" formGroupName="applianceType">
                <mat-label>Type</mat-label>
                <input formControlName="name" type="text" matInput>
              </mat-form-field>
            </div>
          </div>
        </div>

        <button [disabled]="applianceGroup.invalid" class="my-custom-button btn btn-dark text-light me-0" type="submit">Submit</button>
        <button type="reset"  class="clear-button my-custom-button btn btn-light me-0 mt-2">Reset</button>
        <button type="reset" class="my-custom-button btn btn-outline-secondary me-0 mt-2" mat-dialog-close>Close</button>
      </form>

    </div>
  </div>
</div>


