<div class="my-dialog container-fluid h-100 p-4 text-center overflow-auto">
  <div class="card">
    <div class="card-header d-flex justify-content-center align-items-center">
      <p>Create Commission</p>
    </div>
    <div class="card-body">

      <form [formGroup]="commissionGroup" class="my-dialog-form d-flex flex-column"
            (ngSubmit)="createCommission(commissionGroup)">

        <div class="d-flex flex-column">
          <div class="row g-3">
            <div class="col-6" formGroupName="appliance">
              <mat-form-field appearance="outline" >
                <mat-label>Appliance serial number</mat-label>
                <input (focusout)="verifyAppliance()" type="text" placeholder="Appliance serial number"
                       aria-label="serial-number"
                       matInput
                       [matAutocomplete]="serial_number" formControlName="serialNumber">
                <mat-autocomplete #serial_number="matAutocomplete">
                  <mat-option (onSelectionChange)="onSelectAppliance($event, appliance)"
                              *ngFor="let appliance of appliances | async" [value]="appliance.serialNumber">
                    {{ appliance.serialNumber }} </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Client</mat-label>
                <input (focusout)="verifyAppliance()" type="text" placeholder="Search for client"
                       aria-label="serial-number"
                       matInput [matAutocomplete]="client" formControlName="client">
                <mat-autocomplete [displayWith]="customDisplay" #client="matAutocomplete">
                  <mat-option class="autocomplete-options" (onSelectionChange)="onSelectClient($event, client)"
                              *ngFor="let client of clients | async" [value]="client">
                    {{ client.name }} {{ client.lastName }} <span> {{ client.phoneNumber }}</span></mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>
          </div>

          <div class="row">

              <mat-form-field appearance="outline">
                <mat-label>Problem description</mat-label>
                <textarea placeholder="Describe client issue" matInput formControlName="problemDescription"></textarea>
              </mat-form-field>

          </div>

          <div class="row">
            <div class="col-6">
              <mat-form-field appearance="outline">
                <mat-label>Technician</mat-label>
                <input (focusout)="verifyTechnician()" type="text" placeholder="Search for technician"
                       aria-label="technician"
                       matInput
                       [matAutocomplete]="technician" formControlName="technician">
                <mat-autocomplete [displayWith]="customDisplay" #technician="matAutocomplete">
                  <mat-option class="autocomplete-options" (onSelectionChange)="onSelectTechnician($event, technician)"
                              *ngFor="let technician of technicians | async" [value]="technician">
                    {{ technician.name }} {{ technician.lastName }}
                    <span>{{ technician.phoneNumber }}</span>
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
            </div>

            <div class="col-6">
              <mat-form-field style="max-width: 204px" appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input [formControl]="dateControl" (dateChange)="openHoursScheduler($event, dateControl)" [min]="startDate" [matDatepickerFilter]="onlyWorkDays" placeholder="Choose repair date and time." matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker startView="month" [startAt]="startDate"></mat-datepicker>
              </mat-form-field>
            </div>
          </div>

          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Technician visit time</mat-label>
              <input matInput placeholder="Technician Visit Time" formControlName="technicianTerm">
            </mat-form-field>
          </div>

          <div class="form-check d-flex align-items-end">
            <input class="form-check-input" type="checkbox" value="" id="advice">
            <label class="form-check-label" for="advice">
              Advice given
            </label>
          </div>


          <div class="form-check d-flex align-items-end">
            <input class="form-check-input" type="checkbox" value="" id="visited">
            <label class="form-check-label" for="visited">
              Client visited
            </label>
          </div>


          <div class="form-check d-flex align-items-end">
            <input class="form-check-input" type="checkbox" value="" id="status">
            <label class="form-check-label" for="status">
              Status
            </label>
          </div>

          <button [disabled]="commissionGroup.invalid" class="my-custom-button btn btn-dark text-light me-0"
                  type="submit">Submit
          </button>
          <button type="reset" class="clear-button my-custom-button btn btn-light me-0 mt-2">Reset</button>
          <button type="reset" class="my-custom-button btn btn-outline-secondary me-0 mt-2" mat-dialog-close>Close
          </button>


        </div>


      </form>

    </div>
  </div>
</div>


