<div class="d-flex main-vertical right-sidebar-toggled">
  <div class="d-flex w-100 flex-grow-1">
    <div class="d-flex  w-100 flex-column overflow-auto">
      <section id="commissions-header">
        <div class="button-layout mx-4">
          <button (click)="showAddModelForm()" class="my-custom-button btn btn-dark text-light align-self-center" >
            <i class="icon icofont-ui-add"></i>Add model
          </button>
          <button (click)="previewModel()" class="my-custom-button btn btn-dark text-light align-self-center" >
            <i class="icon icofont-search-2"></i>Model preview
          </button>
          <button (click)="deleteModel()" class="my-custom-button btn btn-dark text-light align-self-center" >
            <i class="icon icofont-ui-delete"></i>Delete model
          </button>
          <button routerLink="/content/appliances/brands" class="my-custom-button btn btn-dark text-light align-self-center" >
            <i class="icon icofont-brand-adidas"></i>Brands
          </button>

        </div>
      </section>

      <section id="model-table">
        <app-models-table (rowSelected)="modelSelected($event)"></app-models-table>
      </section>

    </div>
  </div>
</div>
