<div class="commission-table pb-4">
  <div class="search-div d-flex align-items-center mx-4 pt-4">
    <mat-form-field class="search-form-field">
      <mat-label>Search</mat-label>
      <input matInput [(ngModel)]="searchTerm" placeholder="Search for commission" autocomplete="off" #input>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchTerm" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>

    <div class="slogan d-flex align-items-end ms-auto"><h1 class="text-center">Manage clients with ease</h1></div>

  </div>


  <div class="mat-elevation-z2 mx-4">
    <mat-table  [dataSource]="dataSource" mat-table matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Id
            <div [class.spinner-border]="dataSource.loading$ | async" class="text-danger ms-2" role="status">
          </div>
        </mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{ row.id }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="a.serial_number">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Serial number</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{ row.appliance.serialNumber }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="m.name">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Appliance</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{ row.appliance.model.name }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="creation_date">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Created at</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{ row.creationDate }} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="advice_given">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Advice given</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.adviceGiven}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="technician_id">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Technician</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.technician?.id}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="repair_date_id">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Repair date</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row?.repairDate?.date}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="client_visited">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Client visited</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.clientVisited}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="commission_status">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.commissionStatus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="client_id">
        <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header>Client</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.client.id}} </mat-cell>
      </ng-container>


      <mat-header-row mat-header-row *matHeaderRowDef="columns"></mat-header-row>
      <mat-row  (click)="selectRow(row)"
               [ngClass]="selectedRow === row ? 'selected-row' : ''" *matRowDef="let row; columns: columns;"></mat-row>

      <!-- Row shown when mat-header-cellere is no matching data. -->
      <tr class="mat-row row justify-content-center text-center align-items-center" *matNoDataRow>
        <td class="" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </mat-table>

    <mat-paginator #paginator
                   [length]="dataSource.length"
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[5, 10, 20, 100]">
    </mat-paginator>

  </div>


</div>
