<div class="initial-view d-flex mt-auto justify-content-center h-100 w-100">


  <div class="d-flex align-middle align-self-center flex-column h-100 w-100">
    <div>
      <img class="technician " src="/assets/technician2ph.png" alt="technician">
    </div>
  </div>


  <div class="d-flex">
    <img class="logo align-self-end" src="/assets/helmet.png" alt="logo">
  </div>


</div>

<div class="initial-slogan slogan m-5 position-fixed">
  <h1>Let's solve problems, let's help and do the best as we can </h1>
</div>
