
.my-container {
  height: 100%;
}

/*-------------------------------*/
/*            Drawer             */
/*-------------------------------*/
.my-sidenav {
  border: 0;
  padding-left: 10px;
}

/*-------------------------------*/
/*            Navbar             */
/*-------------------------------*/
.my-navbar {
  top: 0;
  width: 100%;
  padding: 0.6rem 1rem;
}

.my-navbar p {
  margin: 0;
  font-size: 3rem;
}

.my-navbar i {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 5px #fff;
}

.my-navbar button {
  padding: 1rem 1.5rem;
  transition: background-color 0.5s;
}

.my-navbar button:hover {
  background-color: #393E46;
}

.my-navbar button:focus {
  box-shadow: 0 0 0 0.25rem white;
}

/*-------------------------------*/
/*            Content            */
/*-------------------------------*/
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: baseline;
  justify-content: flex-start;
}


#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -30rem;
  transition: margin 0.25s ease-out;
}

/*body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*  margin-left: 0;*/
/*}*/

.sb-sidenav-toggled {
  margin-left: 0!important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: -30rem;
  }
}

/*  #page-content-wrapper {*/
/*    min-width: 0;*/
/*    width: 100%;*/
/*  }*/

/*  body.sb-sidenav-toggled #wrapper #sidebar-wrapper {*/
/*    margin-left: -15rem;*/
/*  }*/
/*}*/
