
.my-container {
  height: 100%;
}

/*-------------------------------*/
/*            Drawer             */
/*-------------------------------*/
.my-sidenav {
  border: 0;
  padding-left: 10px;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: var(--drawer-size-margin);
  transition: margin 0.25s ease-out;
}

.sb-sidenav-toggled {
  margin-left: 0!important;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: var(--drawer-size-margin);
  }
}

/*-------------------------------*/
/*            Navbar             */
/*-------------------------------*/
.my-navbar {
  top: 0;
  width: 100%;
  padding: 0.6rem 1rem;
}

.my-navbar i {
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 5px #fff;
}

.my-navbar button {
  padding: 1rem 1.5rem;
  transition: background-color 0.5s;
}

.my-navbar button:hover {
  background-color: #393E46;
}

.my-navbar button:focus {
  box-shadow: 0 0 0 0.25rem white;
}

#logout-button {
  font-size: 3rem;
  font-weight: 400;
}

#logout-button i {
  margin-left: 1rem;
  font-size: 3rem;
}

.my-navbar h1 {
  margin: 0;
}

.my-navbar h1, button {
  font-family: 'Rajdhani-Bold', sans-serif;
  font-size: 3rem;
}


/*-------------------------------*/
/*         Main Content          */
/*-------------------------------*/
#wrapper {
  overflow-x: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: baseline;
  justify-content: flex-start;
}

.main-body {
  width: 100%;
  height: 100%;
}


