<mat-drawer-container class="my-container" autosize>
  <mat-drawer #drawer opened class="my-sidenav ms-2 h-100" mode="side">
    <div class="logo-div">
      <img class="logo" src="assets/logo.png" alt="logo">
    </div>
    <div class="link-div d-flex flex-column py-4">
      <a href="">Lista klientów</a>
      <a>Lorem, ipsum dolor sit</a>
    </div>
  </mat-drawer>

  <div class="content">

    <nav class="my-navbar text-light bg-dark ">
      <div class="d-flex align-items-center">
        <button class="hamburger navbar-toggler" (click)="drawer.toggle()"><i class="fas fa-bars"></i></button>
                <p #navbarTitle></p>
      </div>
    </nav>

    <content-component (navbar-title)="navbarTitle.innerText = $event" class="content-table"></content-component>


  </div>

</mat-drawer-container>




