<div class="login-view d-flex flex-column justify-content-center h-100 w-100">
  <section class="header d-flex">
    <div class="logo-div m-5 mb-0">
      <img class="logo" src="/assets/secondlogotransparentcut.png" alt="logo">
    </div>
  </section>
  <section class="title d-flex justify-content-center">
    <div class="title-div">
      <p class="display-3">Appliances Keeper</p>
    </div>
  </section>
  <section class="body">
    <div class="container login-component">
      <app-login></app-login>
    </div>
  </section>
  <section class="footer d-flex">
    <div class="d-flex align-items-end w-100">
      <footer class="bg-dark text-light w-100">
        <p class="py-5 px-3 text-center mb-0">2021 &copy; Copyright <img class="footer-logo" src="/assets/helmet.png" alt="helmet"/>
          Appliance Keeper</p>
      </footer>
    </div>
  </section>
</div>
