<div class="commission-details p-0 card container-fluid d-flex flex-column overflow-auto">
  <div *ngIf="commission">
    <div class="client-name card-header">
      <p class=" display-6">
        <i class="far fa-user"></i> {{ client.name }} {{ client.lastName }}
      </p>
    </div>
    <div class="card-body">
      <form (ngSubmit)="updateCommission()">
        <mat-accordion>
          <div class="input-group mb-3">
            <span class="input-group-text">Commission number</span>
            <input type="text" class="form-control form-control-lg text-center" disabled [value]="commission.id">
          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="input-group">
                  <span class="input-group-text">Client</span>
                  <input type="text" class="form-control form-control-lg text-center" disabled
                         [value]="client.name + ' ' + client?.lastName">
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="text-center">
              <p *ngIf="client.nip"><strong>Nip:</strong> {{ client?.nip }}</p>
              <p *ngIf="client.regon"><strong>Regon:</strong> {{ client?.regon }}</p>
              <p *ngIf="client.phoneNumber"><strong>Phone number:</strong> {{ client?.phoneNumber }}</p>
              <p *ngIf="client.email"><strong>Email:</strong> {{ client?.email }}</p>
              <p *ngIf="client.type"><strong>Type:</strong> {{ client?.type }}</p>
              <p *ngIf="client.description"><strong>Description:</strong> {{ client?.description }}</p>
              <p *ngIf="client.street && client.building">
                <strong>Address:</strong> {{ client?.street }} {{ client?.building }}
                <span *ngIf="client.apartment">/{{client?.apartment }}</span>
              </p>
              <p *ngIf="client.zipCode || client.city">{{ client?.zipCode }} {{ client?.city }}</p>
            </div>
          </mat-expansion-panel>


          <div class="input-group mb-3">
            <span class="input-group-text">Creation date</span>
            <input type="text" class="form-control form-control-lg text-center" disabled
                   [value]="commission.creationDate">
          </div>

          <div class="input-group">
            <span class="input-group-text">Problem description</span>
            <textarea rows="3" [(ngModel)]="commission.problemDescription"
                      class="form-control form-control-lg text-center"
                      name="problemDescription"></textarea>
          </div>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="input-group">
                  <span class="input-group-text">Appliance serial number</span>
                  <input type="text" class="form-control form-control-lg text-center" disabled
                         [value]="commission.appliance?.serialNumber">
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="text-center">
              <p>Model: {{ commission.appliance?.model?.name }}</p>
              <p>Brand: {{ commission.appliance?.brand?.name }}</p>
              <p>Type: {{ commission.appliance?.model?.applianceType?.name }}</p>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="input-group">
                  <span class="input-group-text">Technician id</span>
                  <input type="text" class="form-control form-control-lg text-center" disabled
                         [value]="commission.technician?.id">
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="text-center">
              <p>Name: {{ commission.technician?.name }} {{ commission.technician?.lastName }}</p>
              <p>Phone number: {{ commission.technician?.phoneNumber }}</p>
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="input-group">
                  <span class="input-group-text">Repair date</span>
                  <input type="text" class="form-control form-control-lg text-center" disabled
                         [value]="commission.repairDate?.date">
                </div>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="text-center">
              <p>Hour: {{ covertEnumNameToHourValue(commission?.repairDate) }}</p>
            </div>
          </mat-expansion-panel>


          <div class="input-group mb-3">
            <span class="input-group-text">Technician report</span>
            <textarea rows="3" [(ngModel)]="commission.technicianReport"
                      class="form-control form-control-lg text-center"
                      name="technicianReport"></textarea>
          </div>

          <div class="input-group mb-3">
            <span class="input-group-text">Solution description</span>
            <textarea rows="3" [(ngModel)]="commission.solutionDescription"
                      class="form-control form-control-lg text-center"
                      name="technicianReport"></textarea>
          </div>

          <div class="checkbox-group input-group mb-3">
            <mat-checkbox class="commission-checkbox" [(ngModel)]="commission.adviceGiven" name="adviceGiven"> Advice
              given?
            </mat-checkbox>
            <mat-checkbox class="commission-checkbox" [(ngModel)]="commission.clientVisited" name="clientVisited">Client
              visited?
            </mat-checkbox>
            <mat-checkbox class="commission-checkbox" [(ngModel)]="commission.commissionStatus" name="commissionStatus">
              Commission status
            </mat-checkbox>
          </div>
        </mat-accordion>
        <!--        <button type="submit" class="btn btn-primary btn-outline-dark">Update</button>-->
        <button type="submit" class="my-custom-button btn btn-dark text-light w-100">Update</button>
        <button class="my-custom-button btn btn-outline-secondary w-100 mt-2" mat-dialog-close>Cancel</button>
      </form>
    </div>
  </div>

  <div *ngIf="!commission">
    <p>Commission is not selected!</p>
    <button mat-button mat-dialog-close>Cancel</button>
  </div>

</div>
