.commission-details {
  width: 40rem;
}

.commission-details .client-name {
  background-color: lightgray;
}

.commission-details .client-name p {
  font-size: 2rem;
  font-family: var(--rajdhani-regular);
  font-weight: bold;
  margin: 0;
}

.commission-details .mat-expansion-panel {
  box-shadow: none;
}

.commission-details .mat-expansion-panel-header {
  padding: 0 1.5rem 0 0;
}

.commission-details p{
  font-size: 1.4rem;
}

.checkbox-group .commission-checkbox {
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

