<section id="commissions-header">
  <div class="button-layout mx-4">
    <button class="my-custom-button btn btn-dark text-light align-self-center"><i class="icon icofont-ui-add"></i>Add
    </button>
    <button class="my-custom-button btn btn-dark text-light align-self-center"><i class="icon icofont-ui-edit"></i>Edit
    </button>
    <button class="my-custom-button btn btn-dark text-light align-self-center"><i class="icon icofont-ui-delete"></i>Delete
    </button>
  </div>
</section>


<section id="commissions-table">
  <com-commissions-table></com-commissions-table>
</section>



