<div class="d-flex main-vertical right-sidebar-toggled">
  <div class="d-flex w-100 flex-grow-1">
    <div class="d-flex  w-100 flex-column overflow-auto">
      <section id="commissions-header">
        <div class="button-layout mx-4">
          <button class="my-custom-button btn btn-dark text-light align-self-center" (click)="showAddApplianceForm()">
            <i class="icon icofont-ui-add"></i>Add appliance
          </button>
          <button class="my-custom-button btn btn-dark text-light align-self-center" (click)="showAddCommissionForm()">
            <i class="icon icofont-ui-add"></i>Add commission
          </button>
          <button (click)="showCommissionDetails()" class="my-custom-button btn btn-dark text-light align-self-center"><i
            class="icon icofont-ui-edit"></i>Edit
          </button>
          <button class="my-custom-button btn btn-dark text-light align-self-center"><i
            class="icon icofont-ui-delete"></i>Delete
          </button>
        </div>
      </section>

      <section id="commissions-table">
        <com-commissions-table></com-commissions-table>
      </section>

    </div>
  </div>
</div>



