.button-layout button {
  margin-top: 1.5rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  font-family: Rajdhani, sans-serif;
  max-height: 3.3rem;
  overflow: hidden;
}

.button-layout button:hover {
  background-color: dodgerblue;
}

.button-layout button:hover .icon {
  color: black;
}

.button-layout i {
  font-size: 1.5rem;
  color: white;
  margin-right: 0.5rem;
}
