<div class="button-layout mx-4 ">

  <button class="btn btn-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#addClientDiv"
          aria-expanded="false" aria-controls="addClientDiv" (click)="clearClientForm()">
    <i class="icon fas fa-user-plus"></i>
    Add
  </button>

  <button class="btn btn-dark text-light" type="button" data-bs-toggle="collapse" data-bs-target="#editClientComponent"
          aria-expanded="false" aria-controls="editClientComponent">
    <i class="icon fas fa-user-edit"></i> Show / Edit</button>

  <button class="btn btn-dark text-light" type="button" (click)="deleteSelectedClient()"><i class="icon fas fa-user-minus"></i> Delete </button>


</div>

<app-client-form (newClient)="addNewClient($event)" #addClientDiv></app-client-form>

<app-edit-client #editClientComponent></app-edit-client>



<app-clients-table (selectionEvent)="populateEditForm($event)"></app-clients-table>


