/*------------------------*/
/*       General          */
/*------------------------*/
.client-table mat-form-field {
  width: unset;
}

.selected-row {
  background-color: rgba(30, 144, 255, 0.24);
}

.client-table mat-header-cell {
  font-weight: bold;
  color: black;
  font-size: 1.3rem;
  word-break: unset;
  white-space: nowrap;
}

.client-table mat-cell {
  font-size: 1.2rem;
}

.mat-row:nth-child(even) {
  /*background-color: red;*/
}

.mat-row:nth-child(odd) {
  background-color: #ECECEC;
}

.mat-cell, mat-header-cell {
  min-width: 60px;
  margin-right: 1rem;
}

.mat-cell, mat-row {
  min-height: 3rem;
}

mat-table {
  overflow-x: auto;
  display: grid!important;
}

/*----------------------*/
/*  Specific columns    */
/*----------------------*/
.mat-column-id {
  max-width: fit-content;
  margin-right: 1rem;
  padding-left: 1.5rem;
}

.mat-column-name {
  max-width: 15rem;
  width: 15rem;
  min-width: 15rem;
  margin-right: 1rem;
}

.mat-column-email {
  word-break: break-word;
}

.mat-column-building, .mat-column-apartment {
  max-width: 4rem;
  margin-right: 1rem;
}

