.client-table {

}

.client-table mat-form-field {
  width: unset;
}

.selected-row {
  background-color: rgba(30, 144, 255, 0.24);
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

/*td, th {*/
/*  width: 25%;*/
/*}*/

