<div class="d-flex main-vertical right-sidebar-toggled">
  <div class="d-flex w-100 flex-grow-1">
    <div class="d-flex  w-100 flex-column overflow-auto">
      <section id="model-details-header">
        <div class="button-layout mx-4">
          <button (click)="goBack()" class="my-custom-button btn btn-dark text-light align-self-center mb-3">
            <em class="fas fa-arrow-left"></em>
          </button>
          <!--          <button (click)="showAddModelForm()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-ui-add"></i>Add model-->
          <!--          </button>-->
          <!--          <button (click)="deleteModel()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-ui-delete"></i>Delete model-->
          <!--          </button>-->
          <!--          <button (click)="previewModel()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-search-2"></i>Model preview-->
          <!--          </button>-->

        </div>
      </section>
      <section id="model-image-slider">
<!--        <div class="slider-div m-auto">-->
        <div class="slider-div">
          <div>
            <ng-image-slider class="slider" [images]="imagesObject"
                             [imageSize]="{width: '100%', height: '400px'}"
                             [autoSlide]="{interval: 2, stopOnHover: false}"
                             [infinite]="true"
                             [manageImageRatio]="true"
                             #nav>
            </ng-image-slider>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>

