<div class="d-flex main-vertical right-sidebar-toggled">
  <div class="d-flex w-100 flex-grow-1">
    <div class="d-flex  w-100 flex-column overflow-auto">
      <section id="model-details-header">
        <div class="button-layout mx-4">
          <button (click)="goBack()" class="my-custom-button btn btn-dark text-light align-self-center mb-3">
            <em class="fas fa-arrow-left"></em>
          </button>
          <!--          <button (click)="showAddModelForm()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-ui-add"></i>Add model-->
          <!--          </button>-->
          <!--          <button (click)="deleteModel()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-ui-delete"></i>Delete model-->
          <!--          </button>-->
          <!--          <button (click)="previewModel()" class="my-custom-button btn btn-dark text-light align-self-center" >-->
          <!--            <i class="icon icofont-search-2"></i>Model preview-->
          <!--          </button>-->

        </div>
      </section>
      <section id="model-details-card">
        <div class="container-fluid">
          <div class="card">
            <div class="card-header text-center">
              <p>{{ model?.name }} {{ model?.brand?.name }}</p>
            </div>

            <!--        <div class="slider-div m-auto">-->
            <div class="card-body ">
              <div class="row">

                <div class="col">
                  <p class="content-title">Description</p>
                  <p class="text-start" style="margin-top: 15px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto beatae commodi cum, enim eum laborum molestias nobis numquam officia officiis optio recusandae rem, rerum soluta sunt. Aperiam doloremque enim fuga ipsam labore quas quis similique vero voluptates. Aliquid aperiam debitis earum exercitationem fuga, fugit id illo, incidunt nulla perspiciatis quam qui quia repudiandae, tempora temporibus veniam voluptatum? Architecto at debitis dignissimos ex exercitationem expedita harum libero modi necessitatibus, sequi, sunt tempore ullam voluptatem? Architecto, dolor dolore doloremque eveniet ex illum maiores non quidem! Architecto cupiditate ducimus facilis hic, nisi officiis pariatur repellat ut. Ab ex facilis ipsum mollitia sed! Ipsa.

                  </p>
                </div>

                <div class="col">
                  <p class="content-title" style="margin-left: 20px"><strong>Galery </strong></p>
                  <div class="slider-div">
                    <ng-image-slider class="slider" [images]="imagesObject"
                                     [imageSize]="{width: '100%', height: '450px'}"
                                     [autoSlide]="{interval: 5, stopOnHover: true}"
                                     [infinite]="true"
                                     [manageImageRatio]="true"
                                     #nav>
                    </ng-image-slider>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>


    </div>
  </div>
</div>

