mat-table {
  overflow-x: auto;
  display: grid!important;
}

.mat-header-cell {
  font-weight: bold;
  color: black;
  font-size: 1.3rem;
  word-break: unset;
  white-space: nowrap;
}

.mat-cell, .mat-row {
  min-height: 3rem;
}

.mat-cell {
  font-size: 1.2rem;
}

.selected-row {
  background-color: rgba(30, 144, 255, 0.24)!important;
}


/*----------------------*/
/*   Table Selection    */
/*----------------------*/
.mat-row {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover  {
  border-color: currentColor;
}
