@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import url('assets/icofont/icofont.min.css');
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Lexend', sans-serif;
  font-size: 1.6rem;
  position: relative;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.content-table {
  display: flex;
  width: 100%;
  height: 100%;
}

.slogan h1 {
  /*font-family: 'Shadows Into Light', cursive;*/
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  align-self: stretch;
  margin-bottom: 0;
  color: #bbb3b3;
}

@font-face {
  font-family: 'Rajdhani-Bold';
  src: url("src/assets/fonts/Rajdhani-Bold.ttf") format("truetype");
}

:root {
--drawer-size: 25rem;
--drawer-size-margin: calc(-1 * var(--drawer-size));
}

/*---------------------------*/
/*---------Scrollbar---------*/
/*---------------------------*/
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}
