.commissions-preview .client-name {
  background-color: lightgray;
}

.commissions-preview .client-name p {
  font-size: 2rem;
  font-family: var(--rajdhani-regular);
  font-weight: bold;
  margin: 0;
}

.mat-header-cell {
  font-weight: bold;
}

.mat-column-adviceGiven , .mat-column-clientVisited , .mat-column-commissionStatus {
  display: flex;
  justify-content: center;
  text-align: center;
}

.commissions-preview button {
  margin-top: 1.5rem;
  margin-right: 1rem;
  font-size: 1.4rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.3s;
  font-family: Rajdhani-Bold, sans-serif;
  max-height: 3.3rem;
  overflow: hidden;
}

.commissions-preview button:hover {
  background-color: dodgerblue;
}

.commissions-preview button:hover .icon {
  color: black;
}

