/*-------------------------------*/
/*            Drawer             */
/*-------------------------------*/
.my-sidenav {
  height: 100%;
  width: var(--drawer-size);
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.my-sidenav a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  font-family: 'Rajdhani-Bold', sans-serif;
  transition: background-color 1s;
  padding: 1.5rem 1.5rem 1.5rem 2rem;
}

.my-sidenav a:hover {
  background-color: rgba(30, 144, 255, 0.4);
}

.my-sidenav i {
  color: red;
  margin-right: 1rem;
  font-size: 3rem;
  text-align: center;
  vertical-align: middle;
}

.logo {
  height: var(--drawer-size);
}

.logo-div {
  background-color: #393E46;
}

.link-div {
  border-right: solid 1px rgba(0,0,0,.12);
  /*height: calc(100% - var(--drawer-size));*/
}

#workers-group {
  font-size: 2.5rem;
}

.empty-div {
  border-right: solid 1px rgba(0,0,0,.12);
  background-color: lightgray;
  height: 100%;
  width: 100%;
  transition: all 3s;
}

#technician {
  max-height: 200px;
  transition: all 3s;
}
