<div class="my-sidenav mat-elevation-z8 h-100 d-flex flex-column align-items-stretch flex-grow-1">
  <div class="logo-div">
    <img class="logo" src="assets/logo.png" alt="logo">
  </div>
  <div class="link-div d-flex flex-column py-4">
    <a routerLink=""><i class="icofont-home"></i>Home </a>
    <a routerLink="/content/clients"><i class="icofont-people"></i><span>Customers</span></a>
    <a routerLink="/content/commissions"><i class="icofont-shield"></i>Commissions </a>
    <a href=""><i class="icofont-worker"></i>Technicians</a>
    <a href=""><i class="icofont-washing-machine"></i>Appliances library</a>
  </div>
  <div class="empty-div d-flex align-items-end justify-content-center">
    <img class="my-2" id="technician" src="assets/technician.png" alt="technician">
  </div>
</div>
